<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/people">
        People
      </a>
      <a class="navbar-brand" href="/people/new">
        New people
      </a>
    </div>
  </div>
</nav>
