<form action="/people" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" placeholder="first_name" name="first_name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control" placeholder="last_name"name="last_name">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Gender</label>
    <input type="text"class="form-control" placeholder="gender"name="gender">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
